<link rel="stylesheet" href="/stylesheets/movie/chart.css" />
<link rel="stylesheet" href="/stylesheets/donut.css" />


<main>


  

  <div class="grid2x2">
    <div class="box box1"><div></div>

      <div class="percentage-circle circle-<%= data.moviePercentage.toFixed(0) %> circle-green"><span> <%= data.moviePercentage.toFixed(0) %>%</span></div>


    </div></div>

