<link rel="stylesheet" href="/stylesheets/donut.css" />



<div class="percentage-circle circle-<%= data.moviePercentage.toFixed(0) %> circle-green"><span> <%= data.moviePercentage.toFixed(0) %>%</span></div>



