<% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/nav.css">
  <% } %>
</head>
<body>
    <nav class="main-nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/books/new">Add Book</a></li>
          <li><a href="/movies/new">Add Movie/Show</a></li>
          <li><a href="/authors/new">Add Author</a></li>
        </ul>
        <form>
          <input type="search" placeholder="Search">
          <button>Go</button>
        </form>


            <% if (user) { %>
                <a href="/auth/logout">
                  <button type="submit">Logout</button>
                </a>
              <% } else { %>
                <a href="/auth/google" class="siwg-link">
                  <button type="submit" class="siwg">
                    <img id="siwg-image" alt="Sign in with Google" />
                  </button>
                </a>
              <% } %>







    </nav>