<% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/nav.css">
  <% } %>
</head>
<body>
    <nav class="main-nav">
      <ul class="menu cf">
        <li><a href="/">Home</a></li>
        <li>
          <a>Books</a>
          <ul class="submenu">
            <li><a href="/books">All Books</a></li>
            <li><a href="/books/new">Add Book</a></li>
          </ul>
          </li>
          <li>
            <a>Movies/Shows</a>
            <ul class="submenu">
              <li><a href="/movies">All Movies & Shows</a></li>
              <li><a href="/movies/new">Add Movie or Show</a></li>        
            </ul>
          </li>
          <li>
            <a>Authors</a>
            <ul class="submenu">
              <li><a href="/authors">All Authors</a></li>
              <li><a href="/authors/new">Add Author</a></li>
            </ul>
          </li>
          </ul>
    
    
      <% if (user) { %>
        <a href="/auth/logout">
          <button type="submit">Logout</button>
        </a>
        <% } else { %>
          <a href="/auth/google" class="siwg-link">
            <button type="submit" class="siwg">
              <img id="siwg-image" alt="Sign in with Google" />
            </button>
          </a>
          <% } %>


      <form action='movies/search' method='POST'>
        <input name='search' type="search" placeholder='Search' aria-label='Search'>
    
        <select name="searchParam">
          <option value="movies">Movies & TV</option>
          <option value="books">Books</option>
          <option value="authors">Authors</option>
        </select>
        <button type='submit'>Search</button>
      </form>
    


    </nav>