<% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/nav.css">
  <% } %>
</head>
<body>
    <nav class="main-nav">
        <ul>
          <li>Home</li>
          <li>Add Book</li>
          <li>Add Movie</li>
          <li>Add TV Show</li>
        </ul>
        <form>
          <input type="search" placeholder="Search">
          <button>Go</button>
        </form>

        <form action="">
            <% if (user) { %>
                <a href="/auth/logout">
                  <button type="submit">Logout</button>
                </a>
              <% } else { %>
                <a href="/auth/google" class="siwg-link">
                  <button type="submit" class="siwg">
                    <img id="siwg-image" alt="Sign in with Google" />
                  </button>
                </a>
              <% } %>
        </form>






    </nav>