<link rel="stylesheet" href="stylesheets/style.css" />
<%- include('./partials/html-head') %>

<%- include('./partials/nav') %>

<main>

  <h1>THE BOOK IS BETTER</h1>


  <div>
    <p>
      Welcome to The Book Is Better.  Search for a movie or TV show below to see if other users think it is better than the book or not.  And if you happen to have both read and watched something, we'd love your opinion.
    </p>

  </div>

</main>

<%- include('./partials/footer') %>
