<link rel="stylesheet" href="stylesheets/header.css" />

<%- include('./partials/html-head') %>

<%- include('./partials/nav') %>

<%- include('./partials/header') %>


<main>

  <div>
    <p>
      Welcome to The Book Is Better. Search for a movie or TV show below to see if other users think it is better than
      the book or not. And if you happen to have both read and watched something, we'd love your opinion.
    </p>
  </div>
  
  <form action='movies/search' method='POST'>
    <input name='movieSearch' type="search" placeholder='Search' aria-label='Search'>

    <select name="searchParam">
      <option value="books">Books</option>
      <option value="movies">Movies & TV</option>
    </select>
    <button type='submit'>Search</button>
  </form>

</main>

<%- include('./partials/footer') %>
