* {
  font-size: 30px;
  font-family: sans-serif;
}

main {
  margin-left: 1em;
}

h1 {
  font-size: 50px;
}

h3 {
  margin: 0;
}

h6 {
  font-size: 15px;
  margin: 0;
}

.review {
  font-size: 40px;
}

label {
  font-size: 25px;
}

button {
  font-size: 25px;
}

textarea {
  font-size: 25px;
}


.card {
  box-shadow: 5px 4px 8px 5px rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.formAdd {
  font-size: 15px;
}