<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/books/new.css" />
<%- include('../partials/nav') %>
<main>
  <!-- <h1><%= title %></h1> -->

<h1>ADD MOVIE OR TV SHOW</h1>

<form action="/movies" method="POST">
  <label for="title-input">Title:  <input type="text" name="title" id="title-input" style="text-transform:uppercase" required></label>
  <br>

  <label for="source-material-input">Based off Book:  <input type="text" name="sourceMaterial" id="source-material-input" style="text-transform:uppercase" required></label>
  <br>
  <p class='formAdd'>Book not in our system?  Add it <a class='formAdd' href="/books/new">here.</a></p>


  <label>Format:
    <select name='format'>
        <option value='Movie'>Movie</option>
        <option value='TV Series'>TV Series</option>
        <option value='Miniseries'>Miniseries</option>
    </select>
  </label> <br>

  <label for="year-input">Year:  <input type="number" name="year" id="year-input" min=1900 max=2030 required></label>
  <br>
  
  <!-- <label for="image-url-input">Link to Poster Image:  <input type="text" placeholder="ex. https://i.imgur.com/.jpg" name="imageUrl" id="image-url-input"></label>
  <br> -->

  <button type="submit">Add Movie/Show</button>
</form>


</main>

<%- include("../partials/footer") %>