<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/books/new.css" />
<%- include('../partials/nav') %>
<main>
  <!-- <h1><%= title %></h1> -->


<h1>ADD MOVIE OR TV SHOW</h1>

</main>

<%- include("../partials/footer") %>